@model IEnumerable<ZeroHunger.DTO.CollectRequestDTO>

@{
    ViewBag.Title = "Dashboard";
}

<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
        color: #333333;
    }

    .container {
        margin-top: 50px;
    }

    .jumbotron {
        background-color: #D5CAEB; /* lavender background color */
        color: #DA70D6; /* White text color */
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .jumbotron h2 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .jumbotron p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .jumbotron hr {
            border-top: 1px solid #ffffff; /* White border color */
            margin-top: 40px;
            margin-bottom: 30px;
        }

    .btn-custom {
        background-color: #DA70D6; /* pink button color */
        border-color: #A12A9C;
        color: #ffffff;
        transition: background-color 0.3s ease-in-out;
    }

        .btn-custom:hover {
            background-color: #A12A9C; /* Darker pink color on hover */
            border-color: #A12A9C;
        }
</style>

<div class="container">
    <div class="jumbotron text-center">
        <h2>Dashboard</h2>
        <p>
            @Html.ActionLink("New Collect Request", "CreateCollectRequest", null, new { @class = "btn btn-custom" })
            <a href="@Url.Action("Logout", "Restaurant")" class="btn btn-danger">Logout</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Request ID
                    </th>
                    <th>
                        Restaurant ID
                    </th>
                    <th>
                        Request Date Time
                    </th>
                    <th>
                        Maximum Preservation Time
                    </th>
                    <th>
                        Food Item Name
                    </th>
                    <th>
                        Food Item Quantity
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Request_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurant_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Request_DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Maximum_Preservation_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodItem_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodItem_Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
